@{
    ViewBag.Title = "Home Page";
    var project = (DTO.Project)ViewData["project"];
}


<div class="row">
    <div class="col-md-2"></div>
    <form method="post">
        <div class="col-md-3">
            @Html.Raw("<a href=\"/Home/ProjectEdit/?id=" + project.Id + "\"> Edit </a>")
            @Html.Raw("<a href=\"/Home/ProjectDelete/?id=" + project.Id + "\"> Delete </a>")

            <h2>Project:</h2>

            <p>
                Project name:
                <input type="text" name="Title" value="@Html.Raw(project.Title)" />
            </p>

            <p>
                Priority:
                <input type="text" name="Priority" value="@Html.Raw(project.Priority)" />
            </p>
            <p>
                Date:
                <input class="form-control" type="date" value="@project.CreatedAt.Date.ToString("yyyy-MM-dd")" name="CreatedAt">
                <input class="form-control" type="date" value="@project.CompletedAt.Date.ToString("yyyy-MM-dd")" name="CompletedAt">
            </p>
            <p>
                Text:
            <p>
                <input type="text" name="Text" value="@Html.Raw(project.Text)" />
            </p>
            <p>
                Performer:
                <input type="text" name="Performer" value="@Html.Raw(project.Performer)" />
            </p>
            <p>
                Customer:
                <input type="text" name="Customer" value="@Html.Raw(project.Customer)" />
            </p>
            
            <button type="submit">Save</button>

        </div>
        <div class="col-md-4">
            <div>
                @{
                    var namePM = "";
                    if (project.ProjectManager != null)
                    {
                        namePM = project.ProjectManager.FirstName + " " + project.ProjectManager.LastName;
                    }
                }
                <h2>Project manager:</h2>
                <p>@namePM</p>
                @Html.Hidden("projectId", project.Id)
                @Html.Hidden("ProjectManager", "")
                <input type="text" name="referal" placeholder="" value="" class="pm" autocomplete="off">
                <a href="#" id="pickAnotherPM" style="display: none;">Change</a>
                <a href="#" onclick="return theFunction1();">Add</a>
                <script type="text/javascript">
                    function theFunction1() {
                        var p_id = document.getElementById("projectId").value;
                        var u_id = document.getElementById("ProjectManager").value;
                        document.location.href = "/Home/AddProjectPM/?idProject=" + p_id + "&idPm=" + u_id;
                    }
                </script>
                <ul class="search_resultPM"></ul>
            </div>
            <h2>Workers:</h2>
            <div>
                <label class="col-2 col-form-label">Add user:</label>
                @Html.Hidden("userId", "")
                <input type="text" name="referal" placeholder="" value="" class="who" autocomplete="off">
                <a href="#" id="pickAnother" style="display: none;">Change</a>
                @Html.Hidden("projectId", project.Id)
                @{
                    //var link1 = "/Home/AddProjectUser/?idProject=" + project.Id + "&idUser=" + ; 
                }
                <a href="#" onclick="return theFunction();">Add</a>
                <script type="text/javascript">
                    function theFunction() {
                        var p_id = document.getElementById("projectId").value;
                        var u_id = document.getElementById("userId").value;
                        document.location.href = "/Home/AddProjectUser/?idProject=" + p_id + "&idUser=" + u_id;
                    }
                </script>
                <ul class="search_result"></ul>
            </div>
            @{
                foreach (var worker in project.Workers)
                {
                    var name = worker.FirstName + " " + worker.LastName;
                    var link = "/Home/DeleteProjectUser/?idProject=" + project.Id + "&idUser=" + worker.Id;
                    <p><a class="btn btn-default" href="@link">@name</a></p>
                }
            }
        </div>
    </form>
    <div class="col-md-2"></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/autoUser")
    @Scripts.Render("~/bundles/autoUserPM")
}